div.modal-container
    div.modal-shade
        div.modal
            div.modal-content 
                p.modal-paragraph 정말 계정을 삭제하시겠습니까?
            div.modal-btn
                button.accept-btn 예
                button.refuse-btn 아니오 
            button.modal-hide ❌
        
      
