.content_top {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}
.content_timer_time {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 30px;
}

.top_border {
  border: 2px solid blue;
}
.content_movements_title {
  justify-content: right;
}

.content_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.movement_time {
  margin-right: 5px;
  position: absolute;
  right: 50px;
}

#movement_specific {
  position: absolute;
  right: 0px;
  margin-left: 30px;
}

.movement_box {
  position: relative;
  border-bottom: 1px solid black;
  margin-right: 20px;
}

.movement_box {
  margin-top: 10px;
}

#content_ul {
  padding-left: 0px;
}

.content_movements_add_list {
  margin-top: 10px;
}
