  extends ./config/base
  block content

    body
    nav.navi
      ul.navi__list
        a.navi__link(href="src/views/calender.pug")
          i.fas.fa-calendar-alt.fa-2x
        
        a.navi__link(href="src/views/home.pug")
          i.fas.fa-home.fa-2x
        
        a.navi__link(href="src/views/group.pug")
          i.fas.fa-user-friends.fa-2x
    script(
      src="https://kit.fontawesome.com/6478f529f2.js",
      crossorigin="anonymous")