 #seeProfile{
    display: flex;
    justify-content: center;
} 

.profile_img{
    position: absolute;
    left: 50%;
    top: 10px;
}

#nickname_box{
    margin-top: 50px;
}

#nickname{
    margin-left: 100px;
    width: 250px;
    border-bottom: 1px solid black;
}

#id{
    margin-left: 100px;
    width: 250px;
    border-bottom: 1px solid black;
}

#id_notice{
    margin-left: 30px;
}

.btn_change_img{
    position: absolute;
    left: 45%;
    margin-top: 10px;
}

.account_delete-btn{
    position: absolute;
    left: 48%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.my_diary_link{
    position: absolute;
    left: 46%;
    margin-top: 100px;
}