header 
    nav
        div.container
            div.title
                i.fab.fa-pied-piper-square
                a(href="/") OURGYM
            div.menu_bar
                ul
                    li
                        a(href="/login") login
                    li 
                        a(href="/join") join    