.header {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.header li {
  margin: 19px 0 8px;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  font-family: "SBAggroB", serif;
}

.header a {
  margin: 19px 0 8px;
  font-weight: 700;
  color: #333333;
  font-family: "SBAggroB", serif;
}

.header ul {
  margin: 5px 0 8px;
}

.menu_bar {
  display: flex;
}
