:root {
  --bg-main-color: #00000080;

  --bg-accent-color: #2d2d2d;

  --accent-color: #f64435;

  --text-accent-color: #ffe498;

  --text-edit-bg-color: #575757;

  --border-color: #3f3f3f;

  --shadow-color: #202020;

  --document-bg-color: #68686850;

  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );
}

.content_exr {
  display: flex;
}
#exr_timer {
  display: flex;
}

.content_exrs_list {
  margin-bottom: 5px;
}

.exrs_ui {
  margin-bottom: 10px;
}

.exr_timer_parent {
  width: 500px;
  height: 18.4px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f6f7;
  border: none;
}

.exr_timer_time_parent {
  position: absolute;
  font-size: 15px;
  right: 40px;
}

.exr_timer_specific_parent {
  position: absolute;
  right: 3px;
  width: 10px;
  background-color: #f5f6f7;
  border: none;
}

#exr_timer_name {
  margin-left: 5px;
}

.content_exr {
  border-bottom: 1px solid rgb(116, 113, 113);
  margin-left: -38px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.plz_signup {
  margin-top: 200px;
  justify-content: center;
  text-align: center;
}

td {
  color: #22577a;
  font-size: 20px;
}
.content_exr #exr_timer {
  display: flex;
}
body {
  margin: 0;
  height: 150vh;
  background: #f5f6f7;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

.show {
  display: block;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  display: none;
}

.modal-shade {
  background-color: var(--translucent-black);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 35vw;
  background-image: var(--component-bg-gradient);
  border-radius: 10px;
  padding: 35px 10px 10px 10px;
}

.modal_close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-paragraph {
  font-weight: 700;
  color: #f5f6f7;
}
