extends ./config/base
include mixins/dailylogMixins

block scripts
    script(src="/static/js/dailyLog.js", defer)

block content
    div.ask_title
        span.Question_title 다음에 대해 생각해보세요.
    div.ask1
        span.Q1 1. 오늘 운동에서 잘한점은 무엇입니까?
    div.ask2
        span.Q2 2. 오늘 운동에서 반성할 점은 무엇입니까?
    div 
        ul.dailyLog_items 
            each log in dailyLogs 
                +dailyLog(log)         
            else 
                li 아직 아무것도 없습니다.        
    div.add_dailyLog-container
        button.add_dailyLog 일지 추가