extends ./config/base
block scripts
    script(src="/static/js/home.js", defer)
    
block content 
    div.content_timer
        div.content_timer_time 00:00:00
        div.content_timer_start
            button#timer_button 시작
            //- if 0 :시작 if 1: 재개
