extends ./config/base
block scripts
    script(src="./js/home.js", defer)
    
block content 
    div.content_timer
        div.content_timer_time 00:00:00
        div.content_timer_start
            button#start_button 시작
            //- if 0 :시작 if 1: 재개
        div.content_timer_pause
            button#pause_button 정지
