extends ./config/base.pug
block content
        
    div
        a.form_item_name 아이디
    div        
        input.form_input(type="text" name="username" placeholder="아이디 입력")
    div
        a.form_item_name 비밀번호
    div
        input.form_input(type="password" name="password" placeholder="비밀번호 입력")
    div(style="height: 10px;")
    div
        button.form_submit_button(type="button") 로그인