extends ./config/base.pug

block content
    section
        div.profil_img
            div.profile_img_show
                img(src=profile1.jpg)
            
            div.profile_img_edit
                a(href='') 편집
        
        div.profile_list
            ul
                li 
                    div.profile_list_name
                        form(method="GET") 
                li 
                    div.profile_list_email
                li
                    div.profile_list_main_movement

                
        div.delete_account
            
