extends ./config/base

block scripts
    script(src="/static/js/main.js", defer)

block content
    div#calendar
    div.log-container
        div.curtain
        div.main-exercise
            h3 무엇을 했나요?
                ul
        div.detail-exercise
            h3 자세히 알아보기
                ul