.add_dailyLog_div {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.add_dailyLog {
  font-size: 20px;
  font-weight: 700;
  font-family: "SBAggroB", serif;
}

.fas.fa-plus.fa-2x {
  position: absolute;
  left: 25%;
}

.edit_dailyLog_parent {
  background-color: #f5f6f7;
  border: none;
  position: absolute;
  right: 5px;
}

.ask_title {
  margin-bottom: 20px;
}

.ask1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "SBAggroB", serif;
}

.ask2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: "SBAggroB", serif;
  border-bottom: 1px solid black;
}

.Question_title {
  font-size: 20px;
  font-weight: 700;
  font-family: "SBAggroB", serif;
}

.dailyLog_date {
  font-size: 20px;
  font-weight: 700;
  font-family: "SBAggroB", serif;
  margin-left: 5px;
}
