.content_exr {
  display: flex;
  border-bottom: 1px solid rgb(116, 113, 113);
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.exr_timer {
  display: flex;
  width: 100%;
}

.content_exrs_list {
  margin-bottom: 5px;
}

.exrs_ui {
  margin-bottom: 10px;
}

.exr_timer_main {
  width: 100%;
}

.exr_timer_content {
  width: 100%;
}

.exr_timer_parent {
  font-size: 20px;
  font-weight: 700;
  height: 18.4px;
  background-color: #f5f6f7;
  border: none;
  margin-left: 3%;
}

.exr_timer_top {
  width: 100%;
  display: flex;
}

#exr_meta_submit {
  background-color: #333333;
  font-size: 20px;
  font-weight: 400;
  font-family: "SBAggroB", serif;
  cursor: pointer;
  color: #fff;
}

#exr_timer_name {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  height: 18.4px;
  margin-left: 7%;
  background-color: #f5f6f7;
}

.exr_timer_time_parent {
  position: absolute;
  font-size: 20px;
  right: 40px;
  margin-right: 3%;
}

.exr_timer_btns {
  position: relative;
  margin-left: auto;
  display: flex;
  right: 2%;
  background-color: #f5f6f7;
  border: none;
}

.exr_timer_remove_parent {
  position: absolute;
  right: 3px;
}

.exr_meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#exr_meta_name {
  width: 150px;
  margin-right: 5px;
  height: 35px;
}

#exr_meta_count {
  width: 90px;
  height: 35px;
  margin-right: 5px;
}

#exr_meta_other {
  height: 35px;
  margin-right: 5px;
}

#exr_meta_submit {
  width: 80px;
  height: 35px;
}

.plz_signup {
  margin-top: 200px;
  justify-content: center;
  text-align: center;
}

td {
  color: #22577a;
  font-size: 20px;
}
.content_exr #exr_timer {
  display: flex;
}
body {
  margin: 0;
  height: 150vh;
  background: #f5f6f7;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

.content_top {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 20px;
}

#plus_input {
  display: inline-block;
  font-size: 17px;
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  width: 15%;
}

.content_timer_time {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 30px;
}

.top_border {
  border: 2px solid blue;
}

.content_movements_title {
  justify-content: right;
}

.content_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.movement_time {
  margin-right: 5px;
  position: absolute;
  right: 50px;
}

#movement_specific {
  position: absolute;
  right: 0px;
  margin-left: 30px;
}

.movement_box {
  position: relative;
  border-bottom: 1px solid black;
  margin-right: 20px;
  margin-top: 10px;
}

#content_ul {
  padding-left: 0px;
}

.content_exrs {
  min-height: 50;
}

.content_exrs_add_list {
  margin-right: -8px;
}

.content_movements_add_list {
  margin-top: 10px;
}
