pug {
    height: 100%;
}


ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
    color: black;
  }

body{
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

header {
    text-align: center;
    font-size: 100px;
}

form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 360px;
}

label {
    margin: 5px 0 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'SBAggroB', serif;
}

input {
    margin: 10px 0 8px;
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

div {
    margin: 25px 0 8px;
}


.login_submit_button {
    width: 100%;
    padding: 15px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #333333;
    font-size: 20px;
    font-weight: 400;
    font-family: 'SBAggroB', serif;
    margin-top: 50px;
}