.profile-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 74px);
  margin-top: -50px;
}

.type {
  font-size: 15px;
  font-weight: 700;
  color: #333333;
  font-family: "SBAggroB", serif;
}

.user_edit_btn {
  cursor: pointer;
  color: #fff;
  background-color: #333333;
  font-size: 20px;
  font-weight: 400;
  font-family: "SBAggroB", serif;
  margin-top: 30px;
}

.profile_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.profile_img_show {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_img_show img {
  width: 100%;
  height: 100%;
  display: block;
}

#nickname_box {
  margin-top: 50px;
}

#nickname {
  width: 100%;
  /* border-bottom: 1px solid black;
  text-align: center; */
}

#id {
  margin-left: 100px;
  width: 250px;
  border-bottom: 1px solid black;
}

#id_notice {
  margin-left: 30px;
}

.profile_button-container {
  margin-top: 20px;
}

.profile_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_button:not(:last-child) {
  margin-bottom: 10px;
}

.profile_button button,
.profile_button a {
  display: block;
  text-align: center;
  width: 100%;
  border: 1px solid rgb(163, 161, 161);
}

.modal-btn {
  display: flex;
  justify-content: space-around;
}

.accept-btn {
  color: #f5f6f7;
  font-weight: 700;
}

.refuse-btn {
  color: #f5f6f7;
  font-weight: 700;
}

.account_delete-btn {
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
}

.account_edit-btn {
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
}

#plus_box {
  display: inline-block;
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  outline-color: #22577a;
  width: 60%;
}

#exr_specific {
  background-color: white;
  border: 1px solid white;
}

#timer_button {
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  color: #22577a;
  margin-left: 15px;
}

#exr_start_timer {
  background-color: white;
  border: 1px solid white;
}

.exr {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

#exr_time {
  position: absolute;
  right: 50px;
}

#exr_specific {
  position: absolute;
  right: 0px;
}

#add_exrs {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  font-family: "SBAggroB", serif;
}

.minvh {
  min-height: auto;
}

.content_exrs_title_chars1 {
  padding-left: 15px;
  font-size: 25px;
  font-weight: 700;
  color: #333333;
  font-family: "SBAggroB", serif;
}

.content_exrs_title_chars2 {
  position: absolute;
  right: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #333333;
  font-family: "SBAggroB", serif;
}

.content_exrs_title_char_divbox {
  border-bottom: 3px solid gray;
}
