.ranking_title_box {
  border-bottom: 1px solid black;
  height: 40px;
  margin-top: 10px;
}

.rank_li1 {
  margin-top: -6px;
}

.user_name {
  margin-left: 15px;
}

.rank_li {
  font-size: 25px;
}

.ranking_title {
  font-weight: 700;
  font-size: 30px;
  margin-left: 5px;
}

#filter {
  position: absolute;
  top: 7%;
  width: 200px;
  right: 15%;
  height: 40px;
}

#btn_filter {
  position: absolute;
  top: 6.3%;
  width: 50px;
  right: 0%;
  height: 40px;
}

.user_time {
  position: absolute;
  right: 5px;
}
