#calendar {
  max-width: 900px;
  margin: 50px auto 0 auto;
}

.highlightCell {
  border: 10px solid #c0eb02 !important;
  background-color: transparent;
}

.selectedCell {
  border: 10px solid #4ceb02 !important;
}

td[role*="gridcell"] {
  cursor: pointer !important;
}

.log-container {
  position: relative;
  min-height: 250px;
  height: 250px;
  overflow: hidden;
}

.log-container .curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #f5f6f7;
}
